@model IEnumerable<TP5_Identity.Models.Location>

@{
    ViewData["Title"] = "Index";
}
<h1>Liste des locations</h1>

<p>
    <a asp-action="Create">Créer une nouvelle location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DureeEnJours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voiture.Modele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voiture.Modele.Marque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DureeEnJours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.Modele.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.Modele.Marque.Nom)
                </td>
                <td>
                    
                    <a  asp-action="Delete" asp-route-id="@item.Id"> <img src="../Images/trash.png" width="50" height="50"/></a>
                </td>
            </tr>
        }
    </tbody>
</table>
