@model IEnumerable<TP5_Identity.Models.Location>


<h1>Liste des locations</h1>

<p>
    <a class=" btn bg-success text-light" asp-action="Create">Créer une nouvelle location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DureeEnJours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voitures.Modele.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voitures.Modele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voitures.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voitures.Couleur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DureeEnJours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voitures.Modele.Marque.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voitures.Modele.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voitures.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voitures.Couleur)
            </td>
            <td>

                <a class=" btn bg-danger text-light" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
        }
    </tbody>
</table>
