@model IEnumerable<VoituresVM>





<h1>Liste des voitures</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Couleur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixJournalier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modele)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Annee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Couleur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrixJournalier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modele.Nom)
                </td>

         
            </tr>
        }
    </tbody>
</table>
