
@model RecupererMdpVM

<div class="row align-items-center">
    <div class="col-md-4"></div>
    <div class="col-md-4 jumbotron">
        <section>
            <form asp-action="RecuperationMDP" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(c=>c.Id)
                <h4>Modifier mon mot de passe</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Password"></label>
                    <input asp-for="@Model.Password" class="form-control" />
                    <p class="textePlusPetit">*Doit contenir une majuscule, une minuscule et un caractère spécial</p>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ConfirmPassword"></label>
                    <input asp-for="@Model.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

